node_modules
# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
.venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
.cache/
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.pyre/
# VS Code
.vscode/
# OS files
.DS_Store
Thumbs.db
results
.env