#### Copyright Notice
# SPDX-FileCopyrightText: 2025 Observes io LTD
# SPDX-License-Identifier: LicenseRef-PolyForm-Internal-Use-1.0.0
#
# Copyright (c) 2025 Observes io LTD, Scotland, Company No. SC864704
# Licensed under PolyForm Internal Use 1.0.0, see LICENSE or https://polyformproject.org/licenses/internal-use/1.0.0
# Internal use only; additional clarifications in LICENSE-CLARIFICATIONS.md
####

node_modules
# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
.venv/
build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
.cache/
.pytest_cache/
.coverage
.tox/
.mypy_cache/
.pyre/
# VS Code
.vscode/
# OS files
.DS_Store
Thumbs.db
results
.env.azure-pipelines/
